.event_wrapper {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.event_title {
  h1 {
    line-height: 5rem 0 3rem 0;
  }
}

.event_items {
  height: 130vh;
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  gap: 2rem;
}

.event_items__item {
  background-size: cover;
  border-radius: 1rem;
  background-position: center;
}

.event-image1 {
  background-image: url(images/events-1.png);
  position: relative;
  overflow: hidden;

  &::after {
    content: "Corporate Events";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-family: "Clash Display Semibold", sans-serif;
    background-color: var(--light-orange);
    color: #fff;
    text-align: center;
  }
}

.event-image2 {
  background-image: url(images/events-2.png);
}

.event-image3 {
  background-image: url(images/events-3.png);
}

.event-image4 {
  background-image: url(images/events-4.png);
}

@media (max-width: 590px) {
  .event_items {
    height: 200vh;
    grid-template-columns: repeat(1, minmax(280px, 1fr));
  }
}
