.menu-sec {
  height: min-content;
  padding: 3rem 3rem;
}

.menu-sec__menu-and-context {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h1,
  p {
    padding: 0 1rem;
  }

  h1 {
    line-height: 4.5rem;
  }
  p {
    max-width: 450px;
  }
}

.menu-sec__btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}

.menu-sec__btns__btn {
  background-color: #fff;
  font-size: 1rem;
  color: var(--accent);
  border: 1px solid var(--accent);
  padding: 0.7rem 2rem;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.menu-sec__btns__btn.active {
  background-color: #2d1312; /* Active background */
  color: #fff; /* Active text color */
}

.menu-sec__item-container {
  width: 100%;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.food-item {
  aspect-ratio: 2/2.3;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.8rem;

  img {
    width: 90%;
    aspect-ratio: 1/1;
  }

  button {
    background-color: transparent;
    padding: 0.5rem 1rem;
    border: 1px solid var(--accent);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: var(--accent);
      color: #fff;
    }
  }
}

@media (max-width: 715px) {
  .menu-sec {
    padding: 3rem 1rem;
  }

  .menu-sec__item-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .food-item {
    aspect-ratio: 2/2.6;
  }
}
