/* Google Font : Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Google Font : Righteous */
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Document Styles */
html {
  scroll-behavior: smooth;
}

/* Root Variables */
:root {
  --accent: #2d1312;
  --light-orange: rgba(226, 122, 63, 0.3);
  --hover-orange: rgba(192, 137, 73, 0.47);
  --light-brown: rgba(128, 114, 94, 1);
  --accent-green: #36392d;
  --white: #fff;
}

/* Custom Fonts */
@font-face {
  font-family: "Clash Display Bold";
  src: url("fonts/ClashDisplay-Bold.woff2") format("woff2"),
    url("fonts/ClashDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Clash Display Semibold";
  src: url("fonts/ClashDisplay-Semibold.woff2") format("woff2"),
    url("fonts/ClashDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Clash Display Medium";
  src: url("fonts/ClashDisplay-Medium.woff2") format("woff2"),
    url("fonts/ClashDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* Body Styles */
body {
  width: 100%;
  height: 100vh;
  background: var(--white);
  overflow-x: hidden;
}

/* Heading Styles */
h1 {
  font-size: 2.5rem;
}

h1,
h2 {
  font-family: "Clash Display Semibold", sans-serif;
}
h3 {
  font-family: "Clash Display Bold", sans-serif;
}

/* Default Styles */
a {
  text-decoration: none;
  color: var(--accent);
}
li {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}

.container {
  padding: 40px 80px;
}

.btn {
  outline: none;
  border: 2px solid var(--accent);
  cursor: pointer;
  border-radius: 12px;
  color: var(--white);
  padding: 12px 30px;
  background: var(--accent);
  font-weight: 600;
  font-size: 16px;
  transition: all 0.3s ease;
}
.btn:hover {
  background: none;
  color: var(--accent);
}

section,
main {
  width: 100%;
  min-height: 100vh;
}

p {
  font-size: 18px;
}

/* Main Section Styles */
.main {
  background: url(images/main-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* Navbar Styles */
.main .main__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .main__header .nav__logo {
  user-select: none;
}
.main .main__header .nav__logo .logo__text {
  font-size: 18px;
  font-family: "Righteous", sans-serif;
  color: var(--accent);
}
.main .main__header .nav__links .nav__links-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}
.main .main__header .nav__links .nav__links-wrapper a {
  position: relative;
  font-size: 18px;
  color: var(--accent);
  transition: all 0.3s ease;
}
.main .main__header .nav__links .nav__links-wrapper a::before {
  content: "";
  position: absolute;
  bottom: -3px;
  width: 0;
  height: 1px;
  background: var(--accent);
  transition: all 0.3s ease;
}
.main .main__header .nav__links .nav__links-wrapper a:hover::before {
  width: 100%;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger i {
  font-size: 24px;
  color: var(--accent);
}

/* Overlay Menu */
.overlay-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 60%;
  height: 100vh;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: right 0.3s ease-in-out;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
}

.overlay-menu.active {
  right: 0;
}

.close-btn {
  position: absolute;
  top: 30px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: var(--accent);
  padding: 10px;
}

.close-btn:hover {
  opacity: 0.8;
}

.overlay-menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

/* Showreel Section Styles */
.showreel {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

.showreel .showreel__top {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.showreel .showreel__top .top__title h1 {
  font-size: 64px;
  color: var(--accent);
}

.showreel .showreel__top .showreel__btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 30px;
  border: 1px solid var(--accent);
  border-radius: 90px;
  font-size: 46px;
  font-family: "Clash Display Medium", sans-serif;
  background: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
  color: var(--accent);
}

.showreel .showreel__top .showreel__btn i {
  transition: all 0.2s ease;
}

.showreel .showreel__top .showreel__btn:hover {
  background: var(--accent);
  color: var(--white);
  gap: 20px;
}
.showreel .showreel__top .showreel__btn:hover i {
  transform: rotate(45deg);
  color: var(--white);
}

.showreel::after {
  content: url(./images/blob.png);
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

.showreel__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 40px;
}

.showreel__wrapper img {
  max-width: 100%;
}

/* Team Section Styles */
.team {
  background: var(--light-orange);
  margin-top: 150px;
}

.team .team__top {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 100px;
}

.team .team__top h1 {
  font-size: 64px;
  color: var(--accent);
}

.team .team__top p {
  max-width: 570px;
  color: var(--accent);
}

.team .team__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.team .team__wrapper .team__member {
  text-align: center;
}

.team .team__wrapper .team__member img {
  max-width: 100%;
  margin-bottom: 16px;
}

.team .team__wrapper .team__member h3 {
  font-size: 20px;
  color: var(--accent);
  margin-bottom: 16px;
}

.team .team__wrapper .team__member p {
  color: var(--accent);
  margin-bottom: 16px;
}

.team .team__wrapper .team__member span {
  color: var(--accent);
  font-size: 18px;
  line-height: 1.4;
}
